<section class = "my-6 mx-3 hidden">
    <div class = "box has-background-grey-darker">
        <div>
            <div class = "has-background-grey-darker">
                <a class="title has-text-white-ter">Company Name: {{company_name}}</a>
            </div>
            <div class = "has-background-white">
                <h2 class="is-size-3">Position Name </h4>
                <p class="is-size-4">{{position_name}}</p>
                <h3 class="is-size-3">Salary: {{salary}} </h3>
                <h4 class="is-size-3">Job Description</h4>
                <p class="is-size-5">{{job_desc}}</p>
            </div>
        </div>
        <div>
            <p class="has-text-white-ter">Posted by {{user.username}} on {{format_date post_date}}</p>
        </div>
    </div>
</section>