<section class="card">
    <div class="card_header">
        <a href="/company/{{id}}">{{company_name}}</a>
        <div class="company_name_date">
            <h1>posted by {{user.username}}</h1>
            <p>{{position_name}}</p>
            <p>{{job_desc}} </p>
        </div>
    </div>
    <div class="card_body">
        {{post_desc}}
    </div>
</section>